@using HRMapp_GUI_PoC.Models
@model List<SelectListItem>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <select name="sometext" >
        <option>text1</option>
        <option>text2</option>
        <option>text3</option>
        <option>text4</option>
        <option>text5</option>
    </select>
    @Html.ListBox("eennaam", Model)
</div>